html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	color: rgba(0,0,0, .7);
}
.section-padding {
	padding: 70px 0;
}
.section-head {
	padding-bottom: 40px;
	text-align: center;
}
.section-head > h3 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 28px;
}

header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
nav.navbar.navbar-default.navbar-fixed-top {
    background: transparent;
}
nav.navbar.navbar-default {
	border: none;
}
.header-menu {
	padding: 10px 0;
	color: #2d2c28;
}
.navbar-default .navbar-brand {
	color: rgba(160,145,130, .8);
}
.navbar-default .navbar-brand:hover {
	color: #2d2c28;
}

#main-menu ul li a {
	color: #2d2c28;
	border-bottom: 2px solid transparent;
	transition: all .4s ease;
}
#main-menu ul li a:hover {
	border-bottom: 2px solid #2d2c28;
}



.main-top {
	background: url("https://cdn.discordapp.com/attachments/553353974472769558/562527225786925056/tree.jpg");
	background-size: cover;
	background-attachment: fixed;
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}
.main-top-content {
	display: table-cell;
	vertical-align: middle;
	color: #2d2c28;
}
.main-top-content > h2 {
	font-size: 35px;
}
.main-top-content > h2 span {
	text-transform: uppercase;
}
.main-top-content > p {
	font-size: 20px;
}
.main-top-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-top-content ul li {
	display: inline-block;
	padding: 10px;
}
.social i {
	height: 70px;
	width: 70px;
	line-height: 70px;
	border: 1px solid #2d2c28;
	font-size: 27px;
	color: #2d2c28;
	border-radius: 50px;
}

.about-me h2 {
	font-weight: 600;
	text-transform: uppercase;
	color: #4D4D50;
}
.author {
	width: 100%;
	height: auto;
	border: 5px solid rgba(160,145,130, .8);
	border-radius: 3px;
}
.author > img {
	width: 100%;
	height: auto;
}

.single-service {
	text-align: center;
}
.single-service span {
	height: 80px;
	width: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	border: 1px solid #333;
	display: block;
	margin: auto;
	border-radius: 50%;
}
.single-service h3 {
	font-size: 28px;
	padding: 10px 0;
	text-transform: uppercase;
}

.single-work {
	float: left;
	width: 23%;
	height: 200px;
	margin-right: 24px;
	margin-bottom: 24px;
}
.single-work:last-child {
	margin-right: none;
}
.single-work > img {
	width: 100%;
	height: 100%;
}

input , textarea {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	resize: none;
	border: 2px solid rgba(0,0,0, .3);
	padding: 10px 6px;
	outline: none;
	transition: all .4s ease;
}
input[type="submit"] {
	background: transparent;
	font-weight: 700;
	text-transform: uppercase;
}

input:focus ,
textarea:focus {
	border: 2px solid rgba(0,0,0, .6);
}

.contact-address > h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}
.contact-details {
	margin-top: 50px;
}
